@code {
    [Parameter]
    public string Title { get; set; }
}

@{
    var numberOfBand = 5;
    var bandRightMargin = 40;
    var bandWidth = 20;

    var leftLine = 100;
    var marginEnd = 100;
    var firstBandX = leftLine + marginEnd;
    var secondBandX = firstBandX + bandWidth + bandRightMargin;
    var thirdBandX = secondBandX + bandWidth + bandRightMargin;
    var multiplierBandX = thirdBandX + bandWidth + bandRightMargin;
    var toleranceBandX = multiplierBandX + bandWidth + bandRightMargin;
    var rightLine = 100;

    var svgWidth = leftLine + marginEnd + ((numberOfBand - 1) * (bandWidth + bandRightMargin)) + bandWidth + marginEnd + rightLine;

    <h3 class="text-center">@Title</h3>
    <div class="d-flex justify-content-center">
        <svg width="@svgWidth" height="100%" xmlns="http://www.w3.org/2000/svg">
            <line x1="0" x2="100%" y1="50%" y2="50%" stroke="grey" stroke-width="2"></line>
            <rect class="resistor" x="@leftLine" width="@(svgWidth - leftLine - rightLine)" height="100%" fill="white" stroke="grey" />

            <rect class="resistor-firstband" x="@firstBandX" width="@bandWidth" height="100%" fill="red" />

            <rect class="resistor-secondband" x="@secondBandX" width="@bandWidth" height="100%" fill="black" />

            <rect class="resistor-thirdband" x="@thirdBandX" width="@bandWidth" height="100%" fill="green" />

            <rect class="resistor-multiplierband" x="@multiplierBandX" width="@bandWidth" height="100%" fill="blue" />

            <rect class="resistor-toleranceband" x="@toleranceBandX" width="@bandWidth" height="100%" fill="green" />
        </svg>
    </div>
}
